/*======================== GERAL ========================*/
* {
  margin: 0.1rem;
  padding: 0.1rem;
  box-sizing: border-box; /*conte a partir da borda */
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.1rem;
  text-align: center;
  overflow: overlay;
}
